@{
    ViewBag.Title = "Acerca";
}
<h2>@ViewBag.Title</h2>
<hr />
<h3>Tecnologias usadas</h3>
<p>.NET Framework 4.0 - ASP.NET MVC</p>
<p>Bootstrap 4</p>
<p>FontAwesome 5</p>
<hr />
<h4>Librarias</h4>
<p>Syncfusion (geração de PPTs)</p>
<p>Newtosoft Json.NET (JSON parsing)</p>
<hr />
<h4>Fonte de dados</h4>
<p><a href="https://www.themoviedb.org/documentation/api" target="_blank">TheMovieDB</a></p>