@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    David Figueiredo<br />
    Vila Nova de Famalicão - Braga<br />
    <abbr title="Telemóvel">T:</abbr>
    914.156.449
</address>

<address>
    <strong>Email 1:</strong>   <a href="mailto:d.figueiredo@outlook.pt">d.figueiredo AT outlook.pt</a><br />
    <strong>Email 2:</strong> <a href="mailto:david.gabriel.31@gmail.com">david.gabriel.31 AT gmail.com</a>
</address>

<address>
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/davidfigueiredo31/">davidfigueiredo31</a>
</address>